:root {
    --color-primary: #ffcded;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
            Poppins, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono:
            ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
            monospace;
    --color-red-400: oklch(70.4% 0.191 22.216);
    --color-orange-600: oklch(64.6% 0.222 41.116);
    --color-amber-50: oklch(98.7% 0.022 95.277);
    --color-amber-400: oklch(82.8% 0.189 84.429);
    --color-yellow-100: oklch(97.3% 0.071 103.193);
    --color-yellow-400: oklch(85.2% 0.199 91.936);
    --color-yellow-500: oklch(79.5% 0.184 86.047);
    --color-green-300: oklch(87.1% 0.15 154.449);
    --color-green-400: oklch(79.2% 0.209 151.711);
    --color-sky-100: oklch(95.1% 0.026 236.824);
    --color-sky-400: oklch(74.6% 0.16 232.661);
    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-blue-600: oklch(54.6% 0.245 262.881);
    --color-indigo-50: oklch(96.2% 0.018 272.314);
    --color-indigo-100: oklch(93% 0.034 272.788);
    --color-indigo-400: oklch(67.3% 0.182 276.935);
    --color-indigo-600: oklch(51.1% 0.262 276.966);
    --color-violet-400: oklch(70.2% 0.183 293.541);
    --color-purple-300: oklch(82.7% 0.119 306.383);
    --color-purple-500: oklch(62.7% 0.265 303.9);
    --color-purple-600: oklch(55.8% 0.288 302.321);
    --color-fuchsia-400: oklch(74% 0.238 322.16);
    --color-fuchsia-600: oklch(59.1% 0.293 322.896);
    --color-pink-100: oklch(94.8% 0.028 342.258);
    --color-pink-300: oklch(82.3% 0.12 346.018);
    --color-pink-500: oklch(65.6% 0.241 354.308);
    --color-pink-600: oklch(59.2% 0.249 0.584);
    --color-rose-500: oklch(64.5% 0.246 16.439);
    --color-slate-50: oklch(98.4% 0.003 247.858);
    --color-slate-100: oklch(96.8% 0.007 247.896);
    --color-slate-200: oklch(92.9% 0.013 255.508);
    --color-slate-300: oklch(86.9% 0.022 252.894);
    --color-slate-400: oklch(70.4% 0.04 256.788);
    --color-slate-500: oklch(55.4% 0.046 257.417);
    --color-slate-600: oklch(44.6% 0.043 257.281);
    --color-slate-700: oklch(37.2% 0.044 257.287);
    --color-slate-800: oklch(27.9% 0.041 260.031);
    --color-slate-900: oklch(20.8% 0.042 265.755);
    --color-gray-200: oklch(92.8% 0.006 264.531);
    --color-zinc-100: oklch(96.7% 0.001 286.375);
    --color-black: #000;
    --color-white: #fff;
    --spacing: 0.25rem;
    --breakpoint-lg: 64rem;
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-4xl: 56rem;
    --container-5xl: 64rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: 1.33333;
    --text-sm: 0.875rem;
    --text-sm--line-height: 1.42857;
    --text-base: 1rem;
    --text-base--line-height: 1.5;
    --text-lg: 1.125rem;
    --text-lg--line-height: 1.55556;
    --text-xl: 1.25rem;
    --text-xl--line-height: 1.4;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: 1.33333;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: 1.11111;
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --tracking-tight: -0.025em;
    --tracking-wide: 0.025em;
    --tracking-wider: 0.05em;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --ease-in: cubic-bezier(0.4, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, 0.2, 1);
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --animate-spin: spin 1s linear infinite;
    --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --blur-sm: 8px;
    --default-transition-duration: 0.15s;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --font-inter:
            Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol', 'Noto Color Emoji';
    --color-navy-50: #e7e9ef;
    --color-navy-100: #c2c9d6;
    --color-navy-200: #a3adc2;
    --color-navy-300: #697a9b;
    --color-navy-400: #5c6b8a;
    --color-navy-450: #465675;
    --color-navy-500: #384766;
    --color-navy-600: #313e59;
    --color-navy-700: #26334d;
    --color-navy-750: #222e45;
    --color-navy-800: #202b40;
    --color-navy-900: #192132;
    --color-slate-150: #e9eef5;
    --color-primary: #4f46e5;
    --color-primary-focus: #4338ca;
    --color-secondary-light: #ff57d8;
    --color-secondary: #f000b9;
    --color-secondary-focus: #bd0090;
    --color-accent-light: #818cf8;
    --color-accent: #5f5af6;
    --color-accent-focus: #4d47f5;
    --color-info: #0ea5e9;
    --color-info-focus: #0284c7;
    --color-success: #10b981;
    --color-success-focus: #059669;
    --color-warning: #ff9800;
    --color-warning-focus: #e68200;
    --color-error: #ff5724;
    --color-error-focus: #f03000;
    --text-tiny: 0.625rem;
    --text-tiny--line-height: 0.8125rem;
    --text-tiny-plus: 0.6875rem;
    --text-tiny-plus--line-height: 0.875rem;
    --text-xs-plus: 0.8125rem;
    --text-xs-plus--line-height: 1.125rem;
    --text-sm-plus: 0.9375rem;
    --text-sm-plus--line-height: 1.375rem;
    --animate-shimmer: shimmer 2s linear infinite;
    --shadow-soft: 0 3px 10px 0 rgb(48 46 56 / 6%);
    --shadow-soft-dark: 0 3px 10px 0 rgb(25 33 50 / 30%);
    --z-1: 1;
    --z-2: 2;
    --z-3: 3;
    --z-4: 4;
    --z-5: 5;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
