@import 'tailwindcss';
@import './assets/css/theme.css';

@keyframes shimmer {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}

@utility animate-shimmer {
  animation: shimmer 2s linear infinite;
}

@layer base {
  @import './assets/css/base.css';
}

@layer components {
  @import './assets/css/components.css';
}

@layer pages {
  @import './assets/css/pages.css';
}

@layer fontawesome {
  @import './assets/css/fontawesome-all.css';
}
